html, body{
 
}
/* Google Fonts */
.major-mono display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}
.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Logo */
.logo {
  max-width: 100px;
  height: 50px;
  margin: 5px;
}

/* Marca */
.navbar-brand {
  font-family: "Major Mono Display", monospace;
}

/* Color icono barra de navegación */
.navbar-nav i:hover {
  color: #67304a;
  cursor: pointer;
}

/* Titulos */
.titulos {
  margin-top: 30px;
  margin-bottom: 50px;
}
/* Titulo H1 */
.titulos h1 {
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-size: 60px;
  font-weight: 500;
}
/* Titulo H3 */
.titulos h3 {
  text-align: center;
  font-family: "Parisienne", cursive;
  font-size: 35px;
}

/* Iconos redes sociales */
.iconos_redes_footer i {
  color: #262626;
  text-decoration: none;
  font-size: 1.2em;
  margin: 5px;
}
/* Boton Comprar */
.card-body a {
  color: white;
  background-color: #67304a;
  border: 1px solid black;
  padding: 10px 20px;
  font-weight: bold;
  overflow: hidden;
}

.card-body a:hover {
  background-color: #e67e22;
  border: 1px solid black;
  color: white;
}

.producto:hover{
  border-color: azure; /* Ver efecto y sombra */
}
/* Precio Regular */
.precio {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  color: gray;
  text-align: center;
  font-weight: 600;
}

/* Descuento */
.descuento_producto {
  display: flex;
  background-color: rgb(24, 214, 7);
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  width: 80px;
  height: 35px;
  color: white;  
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  align-items: center;
}

.descuentos{
  background-color: #4cd137;
  color: white;
  padding: 10px;  
  margin-bottom: 10px;
}


/* Fila de Productos */
.fila_productos {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #e8e8e8;
  color: #262626;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

/* Login */
.login{
  display: flex;
  flex-direction: column;
  background-color: #4b4b4b;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 400px;  
  border-radius: 10px;
  color: white;
}

/* Link Crear Cuenta */
.crear_cuenta a{
  text-decoration: none;
  color: white;
}

.crear_cuenta a i{
  text-decoration: none;
  color: white;
}

/* Boton Ingresar */
.btn_ingresar {
  color: white;
  background-color: #67304a;
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;
  overflow: hidden;  
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Container Formulario Login y Registro */
.box_login{
  height: 95%;  
}
/* Formulario de Crear una Cuenta */
.registro{
  display: flex;
  flex-direction: column;
  background-color: #4b4b4b;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 500px;  
  border-radius: 10px;
  color: white;
}

/*Media queries Mobile*/
@media only screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .copyright {
    font-size: 12px;
  }

  .card{
    margin-bottom: 10px;
  }

  
}

/*Media queries Tablets*/
@media only screen and (max-width: 1024px) {
  .copyright {
    font-size: 12px;
  }

  .card{
    margin-bottom: 10px;
  }
}
